{% extends "base.html" %}

{% block announce %}

<span>Read the <a href="/blog"><strong>blog.</strong></a> &#128218;</span>
<span>
Follow <a href="https://twitter.com/SealVault"><strong>@SealVault</strong></a> on
<span class="twemoji twitter">
  {% include ".icons/fontawesome/brands/twitter.svg" %}
</span>
</span>

{% endblock %}

{% block footer %}

<br/>
<div class="md-grid">
  <div class="md-content md-typeset">
    <p>
      <a class="md-button md-button--primary" href="https://sealvault.substack.com/subscribe">Subscribe to our newsletter</a>
    </p>
  </div>
</div>
<br/>

{{ super() }}

{% endblock %}
